<strong>Bem vindo a GymPoint</strong>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <Strong>Plano: </Strong> {{ plan }} <br />
  <Strong>Meses: </Strong> {{ duration }} <br />
  <Strong>Preço: </Strong> {{ price }} <br />
  <Strong>Data/hora: </Strong> {{ start_date }} <br />
  <Strong>Data/hora: </Strong> {{ end_date }} <br />
  <br />
  <small>
    Focus
  </small>
</p>
