<strong>Bem vindo a GymPoint</strong>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <Strong>Plano: </Strong> {{ plan }} <br />
  <Strong>Mes(es): </Strong> {{ duration }} <br />
  <Strong>Preço: </Strong>R$ {{ price }} <br />
  <Strong>Data Início: </Strong> {{ start_date }} <br />
  <Strong>Data Fim: </Strong> {{ end_date }} <br />
  <br />
</p>
